extends layout

block content
  
  .preloader
    .loaded  
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      //- Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          img(src='/images/logo.png', alt='')
      //- Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
            a(href='/api') API
          li.active
            a(href='/users') Users logs
    
  // Sections
  section#all.sections.lightbg
    .container.text-center
      .heading-content
      
      .item.col-md-12
          .col-md-6
            form(action='/users', method='get')
              input(type='text', name='userId', placeholder='Write a User ID' class="form-control" )
          .col-md-6
            select(name='action', class='form-control' style="margin-top: 20px")
              for action in actions
                option(value=action) #{action}
          
          a(type='submit', name='show')
            button.btn.btn-primary.btn-lg(style='margin-top: 20px; margin-bottom: 40px;') 
              i.fa.fa-search      GET USER LOG
  
  section#about.sections.lightbg(style='padding-bottom: 100px;') 
    .container.text-center
      .heading-content
        h3 User Logs
      .item.col-md-12  
        table.table
          thead
            tr
              th(style='text-align: center;') UserId
              th(style='text-align: center;') Action
              th(style='text-align: center;') Data
              
          for result in user
            tbody
              tr
                td(align='left') 
                  a(href='users/' + result.userId)
                    div(style='height:100%;width:150%')
                      | #{result.userId}
                td(align='left')
                  a(href='actions/' + result.action)
                    div(style='height:100%;width:200%')
                      | #{result.action}
                td(align='left') #{result.extraData}
              tr
                
  // Footer
  footer#footer.footer.colorsbg
    .container
      .row
        .col-md-6.col-sm-6.col-xs-12
          .copyright.text-left
            p
              | Template by
              a(href='http://bootstrapthemes.co')  Bootstrap Themes
              | 2016. All rights reserved.
        .col-md-6.col-sm-6.col-xs-12
          .copyright.text-right
            p BusyAlert | Universitat de Lleida

   script(src='/javascripts/vendor/jquery-1.11.2.min.js')
   script(src='/javascripts/vendor/bootstrap.min.js')
   script(src='/javascripts/jquery.magnific-popup.js')
   script(src='/javascripts/plugins.js')
   script(src='/javascripts/main.js')

            
